* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

p{
  margin:0;
}

.right{
  display:flex;
}

.top{
  background-color: #962230;
}

.spread {
  display: flex;
  width: 100%;
  justify-content: space-between;

  color: white;
  align-items: center;
  padding: .9em 0em;
}

.left {
  display: flex;
  height: 100%;
  align-items: center;
}

.top i {
  margin-right: 10px;
}

.location {
  display: flex;
  
  align-items: center;
}

.phone {
  display: flex;
  margin-right: 20px;
  
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

ul li {
  list-style: none;
  margin-right: 40px;
}

ul {
  display: flex;
}

.banner{

  background-image: url('./images/thumbnail_IMG_5982.jpeg');
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fnk{
  width: 30px;
  height: 30px;
  margin: 0 auto !important;
  position: relative;
}
.fnk:before { 

  content: "";
  width: 90px;
    height: 1px;
    background: #474747 !important;
  
    position: absolute;
    left: 0;
    top: 50%;
}

.fnk:after{
  content: "";
  width: 90px;
  height: 1px;
  background: #474747 !important;
  
  position: absolute;
  right: 0;
  top: 50%;
  
}