* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  background-color: #962230;
  color: white;
}

.left {
  display: flex;
}

.top i {
  margin-right: 10px;
}

.location {
  display: flex;
}

.phone {
  display: flex;
  margin-right: 20px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

ul li {
  list-style: none;
  margin-right: 40px;
}

ul {
  display: flex;
}
