* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

p{
  margin:0;
}

.logo{
  display:flex;
  
  justify-content: center;
  align-items: center;
}

.right{
  display:flex;
}

.top{
  background-color: #962230;
}

.spread {
  display: flex;
  width: 100%;
  justify-content: space-between;

  color: white;
  align-items: center;
  padding: .9em 0em;
}

.left {
  display: flex;
  height: 100%;
  align-items: center;
}

.top i {
  margin-right: 10px;
}

.location {
  display: flex;
  
  align-items: center;
}

.phone {
  display: flex;
  margin-right: 20px;
  
  align-items: center;
}

header {
 
 display:flex;
 justify-content: space-between;
 align-items: center;

  
}

li {
  list-style: none;

  font-size: 15px;
  color: #000;
  font-weight: 700;
  padding-right:25px;
  text-transform: uppercase;
  transition: all .3s ease;
  margin-right: 30px;
}

ul {
  display: flex;
}

.banner{

  background-image: url('https://images.unsplash.com/photo-1555658094-ca794654362c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fnk{
  width: 30px;
  height: 30px;
  margin: 0 auto !important;
  position: relative;
}
.fnk:before { 

  content: "";
  width: 90px;
    height: 1px;
    background: #474747 !important;
  
    position: absolute;
    left: 0;
    top: 50%;
}

.fnk:after{
  content: "";
  width: 90px;
  height: 1px;
  background: #474747 !important;
  
  position: absolute;
  right: 0;
  top: 50%;
  
}